      <div class='main'>
        <div class='content results'>
          <div class="controls">
            <button class="pill green active">List</button>
            <button class="pill green" onclick="parent.location='http://10.1.10.50'">Database</button>

          </div>
          <div class="results-table" id="dynamic-results">
            <table>
              <tr class="table-header">
                <th class="icon-title">Icon</th>
                <th>Test Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Score</th>
              </tr>
              <% odd = true %>
              <% @records.each do |record| %>
                <% if odd then %>
                  <tr data-link="<%= record_path(record) %>" class="odd">
                <% else %>
                  <tr data-link="<%= record_path(record) %>" class="even">
                <% end %>
                <td><span class="icon <%= record.test.icon %>"></span></td>
                <td class="test-title"><%= record.test.name %></td>
                <td class="test-date"><%= record.date_taken.to_date.to_s %></td>
                <td class="test-time"><%= record.date_taken.strftime("%I:%M%p %Z") %></td>
                <td class="test-score"><%= record.score %></td>
                </tr>
                <% odd = !odd %>
              <% end %>
            </table>
          </div>
         
          <div class="details">
            <h4>Detailed View</h4>
            <div class="detail-container">
              <% #<button class="pill green" onclick="alert('nevermind.')">Button</button> %>
              <canvas class="replay-canvas"></canvas>
            </div>
          </div>
        </div><!--/.content-->
        <script>
          $('tr[data-link]').click(function() { window.location = $(this).data("link") });
        </script>
      </div><!--/.main-->
